.table-page{
    overflow-x: auto;
}
.table-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.table-page table{
    margin: auto;
    width: 100%;
}
.table-page table,th,tr,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.table-page th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color: rgb(3, 165, 206);
}

.table-page img{
    width: 70px;
    height: 100px;
    object-fit: cover;
}

/* ------------ Filters Menu ----------------- */
.row1{
    align-items: center;
}
.row1 span{
    margin-right: 5px;
}

.filter_menu {
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0;
  }
  
  .filter_menu select, input {
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
    margin-right: 5px;
  }
  
  .filter_menu input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 10px;
  }

  .unverify{
      color: red;
  }
  .User {
    color: #ff6a06;
        font-size: 2.75rem;
        font-weight: 100;
        margin: 0 0 1rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .u_manage {
    color: #ff6a06;
        font-weight: 100;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
  }