@import "../../variables/variables.scss";

.groupReg{
  width: 100%;
 
}
h1{
  text-align: center;
}
.column{
  width: 100%;
  margin-top: 1rem;
  input:hover,
  select:hover{
      border-color: rgb(0, 204, 255);
  }
};
.row {
  display: flex;
  justify-content: center;
}


.group_btn {
  display: flex;
  flex-direction: column;
 
  button {
    margin: auto;
    padding: 1.2em;
    border-radius: 5px;
    border: none;
    width: 75%;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color: #fff;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, $orange, $gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 1.1rem;
      margin-left: 10px;
    }
  
  }

  button:hover {
    transition: all 0.3s ease;
    box-shadow: none;
    background: linear-gradient(to left, $orange, $gray-dark);
  }

  .btn-alt {
    background: linear-gradient(to left, $orange, $gray-dark);
  }
  .btn-alt:hover {
    transition: all 0.3s ease;
    box-shadow: none;
    background: linear-gradient(to right, $orange, $gray-dark);
  }
}

