h5{
    color: black;
}
.myprofile{
    width: 60%;
}
.row1{
    display: flex;
    text-align: center;
   
}
.col1{
    margin-right: 5px;
}
.userpro {
    color: #ff6a06;
        font-size: 2.75rem;
        font-weight: 100;
        margin: 0 0 1rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}