.body{
    width: 100%;
}
main{
    padding: 10px;
    background-image: url("./assets/img/bg.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
}

