.cardw{
    width: 18rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.cardBody{
    display: flex;
    flex-wrap: wrap;
}

.btnbody{
    display: flex;
    button:{
        margin-right: 5px;
    }
}