h1{
    text-align: center;
}
.reg{
    width: 100%;
}
.column{
    width: 100%;
    margin-top: 1rem;
    input:hover,
    select:hover{
        border-color: rgb(0, 204, 255);
    }
};



.column2{
    
    margin-top: 1rem;
    //display: inline-block;
   
    input:hover,
    select:hover{
        border-color: rgb(0, 204, 255);
    }
};



